---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | bio">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="mt-8 bradford-italic text-center space-y-3">
        <h1 class="text-5xl">Bio</h1>
        <div class="text-lg bio-content max-w-3xl">
          <p>
            Von August is a Norwegian alternative electronic pop trio consisting of Klara Lucie Østrem Ossum,
            Live Haugejorden Schau, and Simon Nenseter Nome.</p>
          <p>
            Von August invites listeners into a sonic universe that blends warmth and coldness, softness and
            industrial textures – always with a distinct Nordic sensibility. Their music is woven together with
            acoustic instruments, modular synths, vocal harmonies, and drum machines. The soundscapes are
            deep, dreamy, and adventurous, creating a sense of traversing a landscape where reality and
            fantasy seamlessly merge.
          </p>
          <p>
            Since their debut in 2018, they have released several singles and the album Blåøyd (2021), which
            was also released in a remixed version in collaboration with Norwegian electronic artists (Niilas,
            Fochs Koshka, and Maud). They have received praise from NRK P3 (2021) for their contribution
            to the new wave of Norwegian-language pop and from Ballade.no (2022) for their influence on the
            Norwegian electronic scene. The trio has performed on numerous stages across Norway and has
            spent the past three years honing their sound and shaping their second album, Samme hvor du går,
            set for release in spring 2025. In this upcoming album, they aim to capture the essence of human
            relationships, platonic love, and feelings (or the lack thereof) about community - both in words
            and sound.
          </p>
          <p>
            “We could name-drop artists like FKA Twigs and James Blake, but mostly to convey the idea that
            the simple strength of ballads, the surprises of contemporary music, and electronic exploration can
            merge into compelling alloys. Perhaps not surprising, but it's often a hallmark of quality when
            music resists being placed in a single category.
            ”
            <br>
            - Siri Narverud Moen (Ballade)
          </p>
          <p>
            “Heartfelt Norwegian-language female vocal harmonies layered upon each other, adorned with
            dreamy synths. Philosophical, sincere lyrics paired with captivating electronic soundscapes that
            invite a relaxed escape from reality rather than longing for closed dance floors. (...) Von August are
            excellent representatives of this new wave.
            ”
            <br>
            - Eskil Olaf Vestre (NRK P3)
          </p>
          <img class="p-2 mt-4 w-fit col-span-2" src="/public/von_august2.jpg" alt="pressebilde" />
        </div>
      </div>
    </div>
  
  </section>
</Layout>
<style>
  .bio-content p {
      margin: 2rem 0;
  }
  </style>