---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | take 3">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="max-w-7xl mt-8 bradford-italic text-center space-y-3">
        <h1 class="text-5xl">I all stillhet</h1>
        <a href="https://orcd.co/iallstillhet" target="_blank" class="text-xl underline">listen</a>
        <div class=" md:grid grid-cols-3">
        
          <img class="p-2 w-fit col-span-2" src="/i-all-stiilhet-cover.jpg" alt="pressebilde" />
          <p class="text-center  text-lg col-span-1">
            Tar ikke mot til meg, jeg er feig
          <br>Har ventet lenge på, at impulsene skal gjøre det for meg<br>
          <br>Og nå gjorde de det, og det var for sent
          <br>Og jeg gjorde det nå, og det var for sent
          <br>Og nå gjorde de det, og det var for sent
          <br>Og jeg gjorde det nå, og det var for sent<br>
          <br>Løper ut,
          <br>roper høyt,
          <br>skriker ut
          <br>sikter høyt,
          <br>løper ut,
          <br>roper ut,
          <br>skriker ut,
          <br>sikter høyt<br>
          <br>Er så vanskelig å akseptere, at vi nå er kun til for å leve,
          <br>For at tiden skal bevege seg, det er vanskelig å akseptere for meg<br>
          <br>Og nå gjorde de det, og det var for sent
          <br>Og jeg gjorde det nå, og det var for sent
          <br>Og nå gjorde de det, og det var for sent
          <br>Og jeg gjorde det nå, men det var for sent
          </p>
        
        </div>
        <div class="text-left p-2 text-lg space-y-2">
          <p>Written, produced and mixed by Von August</p>
          <p>Mastered by Martin Bowitz</p>
          <p>Dugnad Rec 2025</p>
          <p>Photography & graphic design by Torjus Tenge</p>
        </div>
      </div>
    </div>
  
  </section>
</Layout>
