---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | home">
  
  <section class="text-xl flex flex-col section-height">
   
    <div class="flex justify-center items-center flex-grow">
      <div class="text-center">
        <a href="take3" class="bradford-italic text-center underline md:hidden">new release: Take 3</a>
          <img class="p-2 max-w-full md:max-w-xl" src="von_august1.jpg" alt="pressebilde" />
      </div>
    </div>
  
  </section>
</Layout>

<style>
  .section-height {
    min-height: 70vh;
  }
</style>