---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | home">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="m-20">
        <img class="p-2 md:max-w-xl" src="von_august1.jpg" alt="pressebilde" />
        
      </div>
    </div>
  
  </section>
</Layout>
