---
title: "Kommer snart ...";
---

<style>
  @font-face {
    font-family: "BradfordLL";
    src: url("/fonts/BradfordLL-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }
  .bradford-italic {
    font-family: "BradfordLL", sans-serif !important;
    font-size: 2rem;
  }
</style>

<section class="min-h-screen flex flex-col justify-between">
  <div class="flex justify-center items-center flex-grow">
    <h1 class="text-center bradford-italic">kommer snart<br />...</h1>
  </div>
  <footer class="flex justify-center items-center h-16">
    <p class="bradford-italic">Von August &lt;3</p>
  </footer>
</section>
