---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Kommer snart ...">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="m-20">
        <img class="p-2 md:max-w-xl" src="von_august1.jpg" alt="pressebilde" />
        <div class="mt-8 text-sm space-y-2 text-center bradford-italic">
          <p>booking: <a href="mailto:leahdenardi@gmail.com">leahdenardi@gmail.com</a></p>
          <p>contact: <a href="mailto:vonaugustproject@gmail.com">vonaugustproject@gmail.com</a></p>
        </div>
      </div>
    </div>
  
  </section>
</Layout>
