---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | ingenting">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="max-w-7xl mt-8 bradford-italic text-center space-y-3">
        <h1 class="text-5xl">INGENTING</h1>
        <a href="https://orcd.co/1ngenting" target="_blank" class="text-xl underline">listen</a>
        <div class=" md:grid grid-cols-3">
        
          <img class="p-2 w-fit col-span-2" src="/ingenting-cover.webp" alt="pressebilde" />
          <p class="text-center  text-lg col-span-1">
            Vi vet ingenting
          <br>Vi vet ingenting
          <br>Hvorfor er vi sammen om det her?
          <br>Hvorfor er vi sammen om det her?
          <br>Vi vet ingenting
          <br>Vi vet ingenting
          <br>Hvorfor er vi sammen om det her?
          <br>Hvorfor er vi sammen om det her?
          <br>Vi vet ingenting
          <br>Vi vet ingenting
          <br>Hvorfor er vi sammen om det her?
          <br>Hvorfor er vi sammen om det her?
          <br><br>🎶<br>
          <br>Vi vet ingenting
          <br>Vi vet ingenting
          <br>Hvorfor er vi sammen om det her?
          <br>Hvorfor er vi sammen om det her?
          <br>Vi vet ingenting
          <br>Vi vet ingenting
          <br>Hvorfor er vi sammen om det her?
          </p>
        
        </div>
        <div class="text-left p-2 text-lg space-y-2">
          <p>Written, produced and mixed by Von August</p>
          <p>Mastered by Martin Bowitz</p>
          <p>Dugnad Rec 2025</p>
          <p>Photography & graphic design by Torjus Tenge</p>
        </div>
      </div>
    </div>
  
  </section>
</Layout> 