---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | samme hvor du går">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="max-w-7xl mt-8 bradford-italic text-center space-y-3">
        <h1 class="text-5xl">Samme hvor du går</h1>
        <a href="https://orcd.co/sammehvordugaar" target="_blank" class="text-xl underline">listen</a>
        <div class=" md:grid grid-cols-3">
        
            <img class="p-2 w-fit col-span-2" src="/ALBUMCOVER.jpg" alt="albumcover" />
            <ul class="text-center text-lg col-span-1 space-y-1 p-2">
            <li><a href="/take3" class="underline">Take 3</a></li>
            <li>Mønster og rutiner</li>
            <li><a href="/ingenting" class="underline">INGENTING</a></li>
            <li>Min venn</li>
            <li>Samme hvor du går (Intro)</li>
            <li><a href="/si-hva-du-vil" class="underline">Si hva du vil</a></li>
            <li>ii</li>
            <li><a href="/i-all-stillhet" class="underline">I all stillhet</a></li>
            <li>i</li>
            <li>Samme hvor du går</li>
            </ul>
          
          </div>
        <div class="text-left p-2 text-lg space-y-2">
          <p>Written, produced and mixed by Von August</p>
          <p>Mastered by Martin Bowitz</p>
          <p>Dugnad Rec 2025</p>
          <p>Photography & graphic design by Torjus Tenge</p>
        </div>
      </div>
    </div>
  
  </section>
</Layout> 