---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | si hva du vil">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="max-w-7xl mt-8 bradford-italic text-center space-y-3">
        <h1 class="text-5xl">Si Hva Du Vil</h1>
        <a href="https://orcd.co/sihvaduvil" target="_blank" class="text-xl underline">listen</a>
        <div class=" md:grid grid-cols-3">
        
          <img class="p-2 w-fit col-span-2" src="/sihvaduvilcover.jpg" alt="pressebilde" />
            <p class="text-center text-lg col-span-1">
            Endeløse hode
            <br>Mister hver sjanse du får til å hjelpe sortere alle tankene som du sår 
            <br>Utenkte tanker
            <br>det sprenger i øret
            <br>Jeg rekker ikke å tenke alle tankene som jeg får<br>
            <br>Ordene mine er bare et ekko av alt jeg ikke husker mer
            <br>Ordene mine er bare et ekko av alt jeg ikke husker mer<br>
            <br>Inne i hodet vikler det seg i uendelig verv, årene kveiles i sirkler omkring, sår alltid tvil om hver eneste ting
            <br>Vikler det seg i uendelig verv, årene kveiles i sirkler omkring, sår alltid tvil om hver eneste ting<br>
            <br>Ordene mine er bare et ekko av alt jeg ikke husker mer
            <br>Ordene mine er bare et ekko av alt jeg ikke husker mer
            <br>Ordene mine er bare et ekko av alt jeg ikke husker mer
            <br>Ordene mine er bare et ekko av alt jeg ikke husker mer
          </p>
        
        </div>
        <div class="text-left p-2 text-lg space-y-2">
          <p>Written, produced and mixed by Von August</p>
          <p>Mastered by Martin Bowitz</p>
          <p>Dugnad Rec 2025</p>
          <p>Photography & graphic design by Torjus Tenge</p>
        </div>
      </div>
    </div>
  
  </section>
</Layout>
