---
import Layout from "../layouts/Layout.astro";
---

<Layout title="singalong">
  <main
    class="bg-cover bg bg-no-repeat bg-center bg-fixed"
    style="background-image: url('/bakgrunn_b.webp')"
  >
    <div class="grid h-screen place-items-center">
      <h1
        class="text-6xl text-yellow-300 drop-shadow-[0_0.8px_0.8px_rgba(0,0,0,0.8)]"
      >
        sing along!
      </h1>
      <div class="grid gap-6 md:grid-cols-2">
        <iframe
          class="md:p-4 w-[350px] h-[200px] md:h-[315px] md:w-[560px]"
          src="https://www.youtube.com/embed/eRKnQOa9F5g?si=b-DGRr3hWfzkoEGr"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

        <iframe
          class="md:p-4 w-[350px] h-[200px] md:h-[315px] md:w-[560px]"
          width="500px"
          src="https://www.youtube.com/embed/8Rn-6Wmggf4?si=FdgZkLgKDgY1Q8uO"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <h2
        class="text-4xl text-yellow-300 drop-shadow-[0_0.8px_0.8px_rgba(0,0,0,0.8)]"
      >
        {"xoxo von august <3"}
      </h2>
    </div>
  </main>
</Layout>
