---
import SongCol from "../components/SongCol.astro";
import Svane from "../components/Svane.astro";
import YtPlayer from "../components/YtPlayer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="singalong">
  <main
    class="min-w-full w-screen bg-cover bg-no-repeat bg-center"
    style="background-image: url('/bakgrunn_c.webp')"
  >
    <div class="grid place-items-center">
      <h1
        class="text-4xl md:text-6xl mt-16 text-center text-pink-200 drop-shadow-[0_5px_5px_rgba(255,81,168,0.6)]"
      >
        svømme svømme / en liten sang
      </h1>
      <div class="grid gap-6 mt-24 md:grid-cols-2">
        <div class="-mt-24 text-center">
          <div>
            <div class="text-white text-center text-2xl relative inline-block">
              <img src="/sky.png" alt="sky" class="w-96" /><a
                href="https://www.dropbox.com/sh/npl614y87qspmiw/AAAfokz1OCrFvRHuQy1_YZcGa/Acapella%20%2B%20instrumental/sv%C3%B8mme%20sv%C3%B8mme%20-%20acapella%20%26%20instrumental?dl=1&subfolder_nav_tracking=1"
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white py-2 px-4 z-10 rounded text-2xl"
                >svømme svømme</a
              >
            </div>
            >
          </div>
          <div class="-mt-56">
            <div class="text-white text-center text-2xl relative inline-block">
              <img src="/sky.png" alt="sky" class="w-96 h-auto" /><a
                href="https://www.dropbox.com/sh/npl614y87qspmiw/AACr5UnDRAz9Btegss6-1f0Na/Acapella%20%2B%20instrumental/en%20liten%20sang%20-%20acapella%20%26%20instrumental?dl=1&subfolder_nav_tracking=1"
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white py-2 px-4 z-10 rounded text-2xl"
                >en liten sang</a
              >
            </div>
          </div>
        </div>
        <div class="drop-shadow-[0_5px_5px_rgba(255,81,168,0.6)] mx-4">
          <h2 class="text-pink-100 text-4xl">remixkonkurranse!!</h2>
          <div class="text-pink-200 text-xl">
            <ul class="ml-8 mt-4 list-disc marker:text-pink-700">
              <li>last ned acapella + instrumental</li>
              <li>lag din egen versjon</li>
              <li>send den til oss</li>
            </ul>
            <p class="mt-4">
              vi trekker to vinnere (heldiggriser)<br />
              som får premie!!
            </p>
            <p class="mt-4">frist: 1. oktober</p>
            <p class="mt-4">
              e-post: <a href="mailto:vonaugustproject@gmail.com"
                >vonaugustproject@gmail.com</a
              >
            </p>
            <p class="mt-4">PS: frie tøyler :*</p>
          </div>
        </div>
      </div>
      <Svane />

      <div class="grid gap-6 mt-16 md:grid-cols-2">
        <SongCol title="svømme svømme">
          <p class="mt-4">
            Kan ikke du se litt mer på meg<br />
            Du vil aldri henge rundt med meg<br />
            Enser fortsatt ikke at jeg fins<br />
            Jeg sier hva skjer du sier ins<br />
          </p>
          <p class="mt-4">
            Du vil aldri stoppe for å se<br />
            Hvor lett jeg kan få deg til å le<br />
            Hadde du brukt mere tid på meg<br />
            Ville du sett at jeg er okei<br />
          </p>
          <p class="mt-4">
            Du vil bare leke leke<br />
            svømme svømme svømme svømme svømme i en sjø,<br />
            i en sjø laget av sten<br />
          </p>
          <p class="mt-4">
            Jeg vil bare leke litt med deg<br />
            Men du lukker døren, sier nei<br />
            Jeg blir lei meg av å se på deg<br />
            Tror nok ikke vi går samme vei<br />
          </p>
          <p class="mt-4">
            Jeg vil ikke møte deg igjen<br />
            Tror vi begge vet at du er slem<br />
            Kanskje noen andre finner meg<br />
            Så slipper jeg å tenke mer på deg<br />
          </p>
          <p class="mt-4">
            x4<br />
            Du vil bare leke leke<br />
            svømme svømme svømme svømme svømme i en sjø,<br />
            i en sjø laget av sten<br />
          </p>
        </SongCol>
        <SongCol title="en liten sang">
          <p class="mt-4">
            Hold meg nærme nå<br />
            La meg være her<br />
            Hold meg nærmere nå<br />
            La det rives vekk<br />
          </p>
          <p class="mt-4">
            Hold meg nærme nå<br />
            La meg være her<br />
            Hold meg nærmere nå<br />
            La det rives vekk<br />
          </p>
          <p class="mt-4">
            (i telefonen) Hold meg nærme nå<br />
            La meg være her<br />
            Hold meg nærmere nå<br />
            La det rives vekk<br />
          </p>
          <p class="mt-4">
            Hold meg nærme nå<br />
            La meg være her<br />
            Hold meg nærmere nå<br />
            La det rives vekk<br />
          </p>
          <p class="mt-4">
            La meg være her<br />
            La meg være her<br />
            La meg være her<br />
            La meg være her<br />
          </p>
        </SongCol>
      </div>
      <h1
        class="text-4xl md:text-6xl text-pink-200 mt-16 drop-shadow-[0_5px_5px_rgba(255,81,168,0.6)]"
      >
        sing along!
      </h1>
      <div class="grid gap-6 mt-12 md:grid-cols-2">
        <YtPlayer
          videoUrl="https://www.youtube.com/embed/eRKnQOa9F5g?si=b-DGRr3hWfzkoEGr"
        />
        <YtPlayer
          videoUrl="https://www.youtube.com/embed/8Rn-6Wmggf4?si=FdgZkLgKDgY1Q8uO"
        />
      </div>
      <h2
        class="text-4xl mt-24 mb-32 text-pink-200 drop-shadow-[0_5px_5px_rgba(255,81,168,0.6)]"
      >
        {"xoxo von august <3"}
      </h2>
      <Svane />
    </div>
  </main>
</Layout>
