---
import Layout from "../layouts/Layout.astro";


---

<Layout title="von august | take 3">
  
  <section class="text-xl flex flex-col">
    <div class="flex justify-center items-center flex-grow">
      <div class="max-w-7xl mt-8 bradford-italic text-center space-y-3">
        <h1 class="text-5xl">Take 3</h1>
        <a href="https://orcd.co/take3" target="_blank" class="text-xl underline">listen</a>
        <div class=" md:grid grid-cols-3">
        
          <img class="p-2 w-fit col-span-2" src="take3cover.jpg" alt="pressebilde" />
          <p class="text-center  text-lg col-span-1">
            En dag forsvinner vi,
            <br>vi var aldri ment for å leve
            <br>evig,
            <br>stjernene,
            <br>flyter vekk,
            <br>la de gå,
            <br>synker ned, stille nå,
            <br>håpet og, stille nå
            <br>Vi vil, høre til,
            <br>tro at vi er sammen i dette,
            <br>livet,
            <br>svalestup,
            <br>svømmer vekk,
            <br>la de gå,
            <br>alle med, tanken på,
            <br>frie steg, tanken og
            <br>Kan du late som,
            <br>at det bare er oss to som finnes,
            <br>her nå,
            <br>stjernene,
            <br>flyter vekk,
            <br>la de gå,
            <br>synker ned, stille nå
            <br>la de gå, stille nå
            <br>Vær en trofast deg,
            <br>når jeg trenger en trygghet i dette,
            <br>mørket,
            <br>kjærlighet,
            <br>byttes vekk
            <br>ingen må,
            <br>åpne opp gamle sår,
            <br>late som, stole på
            <br>En dag forsvinner vi,
            <br>vi var aldri ment for å leve,
            <br>evig
          </p>
        
        </div>
        <div class="text-left text-lg space-y-2">
          <p>Written, produced and mixed by Von August</p>
          <p>Mastered by Martin Bowitz</p>
          <p>Dugnad Rec 2025</p>
          <p>Photography & graphic design by Torjus Tenge</p>
        </div>
      </div>
    </div>
  
  </section>
</Layout>
