---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="text-center">
  <h1
    class="text-3xl text-pink-200 drop-shadow-[0_5px_5px_rgba(255,81,168,0.6)]"
  >
    {title}
  </h1>
  <div class="text-yellow-300 text-lg">
    <slot />
  </div>
</div>
